.movies-card-list {
  display: grid;
  margin: 70px auto 0;
  padding: 0;
  width: 100%;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, 360px);
  column-gap: 28px;
  row-gap: 32px;
  justify-content: center;
  list-style-type: none;
}

/* @media (max-width: 925px) {
  .movies-card-list {
    max-width: 90.3vw;
  }
}

@media (max-width: 479px) {
  .movies-card-list {
    max-width: 88.125vw;
  }
} */