.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(7, 48, 66, 1);
}

.promo__container {
  width: 100%;
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
}

.promo__container::before {
  content: "";
  position: absolute;
  background: url(../../images/logo-mainpage.svg) no-repeat center / cover;
  width: 100%;
  max-width: 310px;
  min-height: 304px;
  right: 70px;
  top: 6px;
}

.promo__title {
  margin: 6px 0 0 70px;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  width: 100%;
  max-width: 640px;
}

.promo__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  width: 100%;
  max-width: 310px;
  color: rgba(255, 255, 255, .5);
  padding: 0;
  margin: 36px 0 146px 70px;
}

.promo__button-know {
  display: block;
  background-color: rgba(7, 48, 66, 1);
  margin: 0 0 75px 70px;
  padding: 9px 0;
  border: 1px solid rgba(255, 255, 255, .6);
  border-radius: 3px;
  width: 100%;
  max-width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  transition: border .5s linear, color .5s linear;
}

.promo__button-know:hover {
  border: 1px solid rgba(255, 255, 255, .4);
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
}

.promo__web {
  display: block;
}

@media (max-width: 1130px) {
  .promo__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 991px) {
  .promo__container::before {
    display: flex;
    position: static;
    margin: 107px auto 48px;
  }

  .promo__title {
    text-align: center;
    width: 90%;
    max-width: 680px;
    margin: 0 auto;
  }

  .promo__web {
    display: inline;
  }

  .promo__text {
    text-align: center;
    margin: 22px auto 92px;
    max-width: 260px;
  }

  .promo__button-know {
    margin: 0 auto 76px;
  }

}

@media (max-width: 491px) {
  .promo__container::before {
    margin: 15px auto 45px;
    max-width: 210px;
    min-height: 206px;
  }

  .promo__title {
    text-align: center;
    max-width: 307px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.15px;
  }

  .promo__web {
    display: inline;
  }

  .promo__text {
    text-align: center;
    margin: 22px auto 80px;
    max-width: 260px;
  }

  .promo__button-know {
    margin: 0 auto 30px;
  }
}