.search-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1140px;
}

.search-form__search-place-form {
  width: 100%;
  max-width: 1140px;
  min-height: 72px;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.search-form__input {
  width: 100%;
  max-width: 980px;
  padding: 0;
  margin: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: rgba(139, 139, 139, 1);
  background-color: rgba(32, 32, 32, 1);
  border: none;
  outline: none;
}

.search-form__button {
  width: 100px;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: rgba(66, 133, 244, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
}