.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  /* min-height: 1079px; */
}

.about-me__title {
  width: 100%;
  max-width: 1140px;
  padding: 0 0 23px;
  margin: 110px auto 0;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
}

.about-me__overview {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1140px;
  list-style-type: none;
  margin: 66px auto 0;
  padding: 0;
}

.about-me__overview-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 270px;
  min-height: 327px;
  object-fit: cover;
}

.about-me__overview-title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.about-me__overview-subtitle {
  margin: 18px 0 26px;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  max-width: 600px;
}

.about-me__overview-paragraph {
  width: 100%;
  max-width: 600px;
  margin: 0 0 99px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__github-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  padding: 0;
  margin: 0 0 101px;
}